[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/home/ibroxim/projects/naqshsoft
ExecStart=/home/ibroxim/projects/naqshsoft/venv/bin/gunicorn --access-logfile - --workers 3 --bind unix:/home/ibroxim/projects/naqshsoft/naqshsoft.sock naqshsoft.wsgi:application

[Install]
WantedBy=multi-user.target






